---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
	font-family: 'Lato';
	src: url('{{ site.baseurl }}/static/fonts/LatoLatin-Italic.woff2') format('woff2'),
		url('{{ site.baseurl }}/static/fonts/LatoLatin-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('{{ site.baseurl }}/static/fonts/LatoLatin-Black.woff2') format('woff2'),
		url('{{ site.baseurl }}/static/fonts/LatoLatin-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('{{ site.baseurl }}/static/fonts/LatoLatin-BlackItalic.woff2') format('woff2'),
		url('{{ site.baseurl }}/static/fonts/LatoLatin-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('{{ site.baseurl }}/static/fonts/LatoLatin-Light.woff2') format('woff2'),
		url('{{ site.baseurl }}/static/fonts/LatoLatin-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('{{ site.baseurl }}/static/fonts/LatoLatin-Regular.woff2') format('woff2'),
		url('{{ site.baseurl }}/static/fonts/LatoLatin-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

// Our variables
$base-font-family:  'Lato', Calibri, Arial, sans-serif;
$header-font-family:  'Lato', 'Helvetica Neue', Arial, sans-serif;
$base-font-size:    18px;
$small-font-size:   $base-font-size * 0.875;
$base-line-height:  1.4em;

$spacing-unit:      12px;

$text:              {{ site.color.bodytext }};
$header-text:       {{ site.color.headertext }};
$primary-bg:        {{ site.color.primary }};
$secondary-bg:      {{ site.color.secondary }};
$light-color:       {{ site.color.light }};
$light-text-color:  {{ site.color.lighttext }};
$nav-bg:            {{ site.color.nav }};
$nav-text:          {{ site.color.navtext }};
$footer-bg:         #1F242A;
$link-color:        {{ site.color.link }};
$code-bg: 					#002b36;
$fade: 							#dc627f;

$header-height: 40px;
$header-ptop: 6px;
$header-pbot: 6px;

// Width of the content area
$content-width:     900px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Ordered by CSS rule priority, not alphabetical. Order is important.
@import
        "reset",
        "base",
        "slideshow",
        "syntax-highlighting",
				"feedbackWidget"
;
