.feedbackWidget {
  background: darken($secondary-bg, 5%);
  font-size: 16px;
  line-height: 1.2em;
  margin: 20px 0;
  padding: 10px;

  .feedbackLabel {
    font-weight: 900;
  }

  .feedbackUnvoted {
    display: none;
  }

  &.feedbackNotVoted {
    .feedbackUnvoted {
      display: block;
    }
    .feedbackVoted {
      display: none;
    }
  }

  &.feedbackHasVoted {
    .feedbackUnvoted {
      display: none;
    }
    .feedbackVoted {
      display: block;
    }
  }

  .feedbackButtons {
    margin: 10px 0;

    .feedbackButton {
      border: 1px solid $primary-bg;
      border-radius: 3px;
      color: $primary-bg;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 900;
      padding: 5px 10px;

      &:hover {
        background: $primary-bg;
        color: $secondary-bg;
      }

      &.buttonClicked {
        border-color: $fade;
        background: $fade;
        color: $secondary-bg;
      }
    }
  }

  .feedbackIssues {
    font-size: 14px;
  }
}