<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html alwayson=true %}
    {% assign tutorial = site.data.tutorials[site.docs.first.series] %}
    <div class="navPusher">
      <div class="siteSplash" style="background-image: url({{ site.baseurl }}{{ tutorial.splash }});">
        <div class="siteSplashFade">
          <div class="siteSplashContentWrapper wrapper">
            <div class="siteSplashContent">
              <h1>
                <a
                  href="{{ site.baseurl }}{{ tutorial.firstpart }}"
                >{{ tutorial.title }}</a>
              </h1>
              <div class="splashButton">
                <a href="{{ site.baseurl }}{{ tutorial.firstpart }}">
                  Start Reading
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mainContainer">
        <div id="main_wrap" class="wrapper mainWrapper">
          {{ content }}
          <div class="tutorialList">
              <div class="tutorialBlock">
                {% for docitem in site.docs %}
                  {% if docitem.pageid == tutorial.items.first.id %}
                    {% assign series = site.data.tutorials[docitem.series] %}
                  {% endif %}
                {% endfor %}
                <div class="intro">{{ tutorial.intro }}</div>
                <div class="tutorialParts">
                  {% for item in tutorial.items %}
                    {% for docitem in site.docs %}
                      {% if docitem.pageid == item.id %}
                        {% assign doc = docitem %}
                      {% endif %}
                    {% endfor %}
                    {% if doc.type == 'appendix' %}<hr class="appendixBreak" />{% endif %}
                    <div class="tutorialPart{% if doc.type %} tutorialPart{{ doc.type | capitalize }}{% endif %}">
                      <h4>
                        <span>{{ doc.partlabel }}</span>
                        <a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
                      </h4>
                      <div class="tutorialPartIntro">
                        {{ doc.intro }}
                      </div>
                      <a
                        class="button tutorialPartButton"
                        href="{{ site.baseurl }}{{ doc.url }}"
                      >Read More</a>
                    </div>
                  {% endfor %}
                </div>
              </div>
          </div>
          <div class="featuredTech">
            <h2 class="blockHeader">Featured In This Series</h2>
            <div class="features">
              {% for group in site.data.features %}
              <div class="featuredGroup">
                <h3>{{ group.title }}</h3>
                <ul>
                  {% for project in group.items %}
                  <li>
                    <a
                      href="{{ project.link }}"
                      target="_blank"
                    >{{ project.title }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>

</html>
